* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    padding: 2rem 1rem;
    gap: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: snow;
}

.form-item input {
    border-radius: 7px;
    max-width: 5rem;
    padding: .5rem;
}

.submit-btn {
    background-color: #0b0101;
    color: #e5e5e5;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 1rem;
}

.reverse, .normal {
    display: flex;
    overflow-y: auto;
    height: 100vh;
    padding-top: 3rem;
    position: relative;
}

.floors {
    display: flex;
}

.normal, .normal .floors {
    flex-direction: column;
}

.reverse, .reverse .floors {
    flex-direction: column-reverse;
}

.nth-floor-setup {
    min-height: 10rem;
    display: flex;
    border-bottom: 1.5px solid black;
}

.nth-floor-btn-setup{
    display: flex;
    width: 60%;
    align-items: end;
    padding-bottom: 1rem;
    max-width: 10rem;
    justify-content: space-evenly;
}

.nth-floor-btn {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.floor-btn {
    padding: 0.3rem .5rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid;
    min-width: 3.2rem;
}

.up-btn {
    background-color: #06D001;
}
.up-btn:hover {
    background-color: #059212;
}
.down-btn{
background-color: #F4CE14;
}
.down-btn:hover {
    background-color: #FFBF00;
}

.nth-lift-setup {
    position: relative;
    background-color: #59B4C3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.lifts {
    left: 10rem;
    display: flex;
    position: absolute;
    gap: 1rem;
    padding-bottom: 1px;
}


.normal .lifts {
    top: 8.4rem;
}

.hide {
   display: none;
}

.lift-boundary {
    border: .5px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2rem 1rem;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
    background-color: #1679AB;
}

.door-left-part, .door-right-part {
    border: .5px solid black;
    min-height: 87%;
    position: absolute;
}